{{!-- The tiny footer at the very bottom --}}

<footer class="ph5-ns ph3 pv3 bt b--black-10 black-70">
  <a href="mailto:hello@htmlandbacon.com" class="link b f3 f2-ns dim black-70 lh-solid">email@</a>
  <p class="f6 db b ttu lh-solid"><a href="{{@blog.url}}" class="link dim black-70 lh-solid">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</p>
</footer>
